body {
	background-color: #0b090a;
}

button {
	background-color: #ffffff;
	color: #001427;
	font-weight: 600;
}

.header {
	color: #0081a7;
}

.container {
	background-color: #0b090a;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #ffffff;
}

.jumbotron {
	text-align: center;
	color: #0081a7;
	background-color: #0b090a;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
}

.hidden {
	display: none;
}

.results {
	color: #0081a7;
}